* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container2{
    width: 1500px;
    margin:0 auto;
}
.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-bar-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-items li {
    display: inline-block;
    list-style: none;
    align-items: center;
}

.nav-items li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fff;

}

.nav-items-1:hover {
    color: goldenrod;
}

.nav-contact a {
    color: #fff;
    text-decoration: none;
}

.bg-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.bg-img-1 {
    position: relative;
    width: 30%;
    background-color: #111;
}

.bg-img-2 {
    position: relative;
    background: url(./villa/Assets/Six.jpg) no-repeat center/cover;
    /* height: 100vh; */
    width: 70%;
}

.body-text-content {
    /* position: absolute; */
    /* top: 65%; */
    /* left: 26%; */
    align-items: flex-end;
    color: #fff;
}

.body-text-content h1 {
    font-size: 5rem;
    color: goldenrod;
    font-weight: 900;
}

.body-text-content p {
    font-size: 2rem;
    font-weight: 600;

}

.body-text-content a {
    display: inline-flex;
    text-decoration: none;
    padding: 15px 40px;
    border: 1px solid goldenrod;
    border-radius: 30px;
    margin-top: 20px;
    transition: ease-in 0.2s;
    color: #fff;
}

.body-text-content a:hover {
    transition: ease-in 0.2s;
    background-color: goldenrod;
}

#right-arrow {
    margin-left: 10px;
}


#hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
}
.hero-text-image-flex{
    position: absolute;
    bottom: 50px;
    left: -120px;
    display: flex;
    align-items: flex-end;
    gap:30px;
    /* flex-wrap: wrap; */
}
#hero-img-2 {
    /* position: absolute; */
    height: 70vh;
    /* bottom: 50px; */
    /* left: -150px; */
    object-fit: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 50px #111;
}

.our-services {
    /* font-size: 1.8rem; */
    color: gold;
}

.services-heading {
    font-weight: 900;
    font-size: 3rem;
    width: 339px;
}

.services {
    padding: 100px 0px;
    /* width: 100%; */
    /* padding-left: 100px; */
}

/* .mentioned-services{
    padding-left: 150px;
} */


.flexing-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100%; */
}

.image-div {
    background: url(./villa/index-img-01-585x585.jpg) no-repeat center/cover;
    /* background-size: contain; */
    object-fit: fill;
    width: 50%;

}

.text-side {
    /* padding: 100px 80px; */
    width: 50%;
    padding-right: 15px;
}

.text-side-para-1,
.text-side-para-2 {
    /* width: 100%; */
    height: 50%;
}

.text-side-para-1 {
    font-size: 1rem;
    padding: 60px 90px;
    color: grey;
    /* text-align: justify; */
    line-height: 30px;
}

.text-side-para-1 p {
    width: 400px;
}

.text-side-para-2 {
    background-color: #ffb142;
    padding: 100px 90px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
}

.text-side-para-2 p {
    width: 353px;

}

.solidnav {
    background-color: #111;
    transition: background-color 0.2s linear;
}



.types-of-services-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
}

.services-para {
    width: 450px;
}

.social-media-icon {
    display: flex;
    flex-direction: column;
}

.follow-us p {
    transform: rotate(270deg);
    color: white;
    position: absolute;
    top: 369px;
    left: 16px;
}

.social-media-icon img {
    width: 30px;
    height: 30px;
}

.social-media-icon ul {
    position: absolute;
    bottom: 66px;
    left: 45px;
}


.social-media-icon ul::before {
    content: '';
    height: 150px;
    width: 2px;
    color: #fff;
    background: #fff;
    position: absolute;
    top: -171px;
    left: 50%;
}

.construction-services,
.construction-services1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px;
    justify-content: center;
    transition: ease-in 0.2s;
}

.construction-left-container {
    width: 50%;
}

.construction-right-container {
    padding-right: 15px;
    width: 50%;
}

.construction-services a,
.construction-services1 a {
    text-decoration: none;
    border: none;
    color: #111;
    font-size: 1.5rem;
    font-weight: 900;
    width: 293px;
    transition: ease-in 0.2s;
}

.construction-services a:hover {
    color: gold;
    transition: ease-in 0.2s;
}

.construction-services1 a:hover {
    color: gold;
    transition: ease-in 0.2s;
}

.construction-services:hover {
    transition: ease-in 0.2s;

    box-shadow: 5px 5px 50px rgb(218, 217, 217);
}

.construction-services1:hover {
    transition: ease-in 0.2s;
    /* box-shadow: -5px 0px 2px 50px rgb(218, 217, 217),
    5px 0px 5px 50px rgb(218, 217, 217),
    0px 5px 5px 50px rgb(218, 217, 217),
    0px 0px 0px 0px rgba(0, 0,0, 0);*/
    box-shadow: 5px 30px 50px rgb(218, 217, 217);

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    /* height: 600px; */
    width: 100%;
    background-color: #212122;
    /* justify-content: space-between; */
}

.footer-backdrop {
    padding-top: 50px;
    font-size: 6rem;
    color: #18181a;
}

.footer-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding-top: 20px;
}

.contact-box-heading {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

.contact-box ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
    padding-top: 50px;
}

.contact-box ul li a{
    text-decoration: none;
    color: #fff;
}
.contact-box ul li:first-child{
    padding-left: 0px;
}


.contact-box-para {
    /* padding-top: 30px; */
    width: 150px;
    color: grey;
    line-height: 30px;
}



.contact-box-para2 {
    padding-top: 20px;
    width: 150px;
    color: grey;
    /* line-height: 30px; */
}



.contact-box-para3 {
    padding-top: 20px;

}

.contact-box-para3 a {
    text-decoration: none;
    color: gray;
}
.email-box{
    /* padding-top: 50px; */
}
.email-box-para {
    /* padding-top: 80px; */
    width: 288px;
    color: gray;
    line-height: 30px;
}

.form-wrap input {
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: inherit;
    color: gray;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;

    font-size: 1.2rem;
}

#subscribe-btn {
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 900;
    border: 2px solid gold;
    background-color: inherit;
    color: goldenrod;
    cursor: pointer;
    transition: ease-in 0.2s;
}

#subscribe-btn:hover {
    background-color: gold;
    transition: ease-in 0.2s;
    color: #fff;
}

.footer-flex-container {
    /* height: 600px; */
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

.left-side {
    width: 100%;
    /* background-color: #212122; */
}

.map-side {
    /* height: 100%; */
    /* width: 30%; */
}

#iGmap {
    width: 100%;
    height: 100%;
    /* freame-bo
    frameborder:"0"; */
    /* scrolling:"no"; marginheight="0" */
    /* marginwidth="0" */
    src: "http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=XXXXXXXXXXXXXXXXXXXXX&amp;ll=XXXXXXXXXXXXXXXX&amp;spn=XXXXXXXXXXXXX&amp;output=embed";
}

/* .form-line{
    border-bottom: 2px solid white;
    width: 20px;
} */

.team-member-heading {
    padding-bottom: 30px;
}

.team-member-heading p {
    color: #ffb142;
    font-size: 1.5rem;

}

.team-member-heading h2 {
    font-size: 3rem;
    padding-top: 5px;
}

.team-member-flex {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.left-side-img-container {
    width: 50%;
}

.team-member-1 {
    /* background: url(./villa/box-dina-img-01.jpg) no-repeat center/cover; */
    object-fit: fill;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}

.team-member-2 {
    /* background: url(./villa/box-dina-img-01.jpg) no-repeat center/cover; */
    object-fit: fill;
    width: 100%;
    /* padding: 20px 0px; */
    position: relative;
}

.designation {
    background-color: #fff;
    position: absolute;
    bottom: 24px;
    left: 0;
    /* padding: 50px 100px 30px 50px; */
    /* width: 460px; */
    width: 535px;
    height: 120px;
    padding: 30px;

}

.designation h3 {
    font-size: 1.5rem;
}

.designation p {
    padding-top: 10px;
}


.back-drop-side {
    /* width: 70%; */
    /* justify-content: end; */
    background-color: #212122;
}

.rotate {
    transform: rotate(180deg);
}
.f-container{
    position: relative;
    background-color: #212122;
}
.left-container {
    /* width: 100%; */
    color: #fff;
}


.f-b-heading {
 /* position: absolute; */
 /* top: 20%; */
 /* left: 28%;    */
 color: #18181a;
 font-weight: 900;
 font-size: 5rem;
 z-index: 0;
 margin-left: 200px;
 /* transform: translate(-50%,-50%); */
}
.rotate{
    transform: rotate(180deg);
}
.map-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
}


.years-of-success{
    position: relative;
    width: 100%;
    height: 200px;
}
.years-of-success::before{
    content: '';
    background-color: #f6f6f6;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
}
.about-us{
    color: goldenrod;
}

.copyright{
    padding-top: 50px;
    color: grey;
    padding-bottom: 30px;
}